.nospace{
    padding-left: 0px;
    padding-right:0px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}

li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
.v1_select1{
    float:left;
    margin-left:40px;
}
.left-gap{
    padding-left: 70px;
}



.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.axis {
    font: 10px sans-serif;
}

/*////G20-*/
.bar {
    fill: steelblue;
}

.bar:hover {
    fill: brown;
}
#G20-in-people{
    margin-top:50px;
    padding-bottom:50px;
}
#G20-out-people{
    margin-top:50px;
}
#G20-in-money{
    margin-top:0px;
    padding-bottom:0px;
}
svg {
    font: 10px sans-serif;
}

.background path {
    fill: none;
    stroke: #eee;
    shape-rendering: crispEdges;
}

.foreground path {
    fill: none;
    stroke: steelblue;
}

.brush .extent {
    fill-opacity: .3;
    stroke: #fff;
    shape-rendering: crispEdges;
}

.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
    cursor: move;
}